<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Type</th>
        <th scope="col">Name</th>
        <th scope="col">Column heading</th>
        <th scope="col">Column heading</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of clientList" routerLink="/clients/{{item.id}}">
        <th scope="row">{{item.id}}</th>
        <td>{{item.name}}</td>
        <td>Column content</td>
        <td>Column content</td>
      </tr>
    </tbody>
  </table>
</div>