<div class="container">
  <div class="col-lg-12 text-right mb-3">
    <button class="btn btn-outline-primary btn-md px-5" type="button" routerLink="/clients/new">Add Client</button>
  </div>

  <table class="table table-hover">
    <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Phone Number</th>
      <th scope="col">Email</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let client of clientList">
      <th scope="row">{{client.id}}</th>
      <td>{{client.name}}</td>
      <td>{{client.phoneNumber}}</td>
      <td>{{client.email}}</td>
      <td>
        <i class="fas fa-search" (click)="loadClient(client.id)"></i>
      </td>
    </tr>
    </tbody>
  </table>
</div>
